$font-One: "Open Sans", sans-serif;

$font-Two: "Poppins", sans-serif;

$theme-color: #658c2a;

$link-color: #658c2a;

$white: #ffffff;
$black: #000000;
$dark-gray: #7f7f7f;
$light-gray: #c0c0c0;
$green: #5cb85c;
$light-blue: #5bc0de;
$red: #d9534f;
$yellow: #f0ad4e;
$blue: #0000ff;
